<div class="fixcontainer">
    <div style="z-index: 1;width:100%;height:100%;border:0px solid red;position:absolute;" ng-hide="manualStep == 17">   
        <div ng-show="manual.arrow" style="border:0px solid #1d81f7;width:100px;position:relative" ng-style="manual.styleArrow">
            <div style="margin-left: 40px;border:2px solid #1d81f7;width:50px;height:50px;float:right">
                <a href=""  ng-click="nextStep()" style="display: block;width:100%;height:100%;"></a>
            </div>
            <img src="images/arrow/rt.png" style="width:50px"> 

        </div>      
        <div style="border:5px solid #1d81f7;width:400px;position:relative" ng-style="manual.style">
            <div style="border:3px solid black;background-color: black;">
                <img src="images/ralf/ralfmini.png" style="border-right:3px solid black;background-color: black;float: left"> 
                <div style="margin-left: 100px;height:133px;padding: 20px;background-color: white;font-weight: bold;">
                    {{manual.text}}<br>
                    <button ng-hide="manual.arrow" style="float: right;margin-top: 10px;" ng-click="nextStep()" 
                            class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>

    </div>



    <div style="float:right"> 
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Profile</div>
            <div class="panel-body">
                <p>Company name: <b>{{authUser.name}}</b>   (<a href="#/account">Change</a>)</p>
                <p>Money: <b>{{authUser.money}} €</b></p>
                <p>City: <b>{{city.name}} ({{city.people}})</b></p>
                <p>Food: 
                <progressbar class="progress-striped active" max="100" value="city.food*50/city.people" style="width: 300px;">
                    <span style="display: block;text-align: center;width: 300px;color:black; white-space:nowrap;">{{city.food}} / {{city.people * 2}}</span>
                </progressbar></p>
                <p>Wood: 
                <progressbar class="progress-striped active" max="100" value="city.wood*50/city.people" style="width: 300px;">
                    <span style="display: block;text-align: center;width: 300px;color:black; white-space:nowrap;">{{city.wood}} / {{city.people * 2}}</span>
                </progressbar></p>
            </div>


        </div>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Build {{build}}</div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="setBuild('RDL')" > <img src="images/built/imgRoad.jpg"  /> </button>
                    <button type="button" class="btn btn-default"  ng-click="setBuild('RDR')" > <img src="images/built/imgRoad2.jpg" /> </button>
                    <button type="button" class="btn btn-default" ng-click="setBuild('RC')" > <img src="images/built/imgCross.jpg"  /> </button>

                    <button type="button" class="btn btn-default" ng-click="setBuild('N')" > <img src="images/built/imgBomb.jpg"  /> </button>
                    <button type="button" class="btn btn-default" ng-click="setBuild('')" > <img src="images/built/imgHand.jpg"  /> </button>

                </div>
            </div>

        </div>

        <!--angular-->
        <div class="panel panel-primary">                               
            <!-- Default panel contents -->
            <div class="panel-heading">Vehicles</div>
            <div class="animate-switch-container"
                 ng-switch on="vehicle.selection">
                <div class="animate-switch" ng-switch-when="1">
                    <form name="myForm">
                        <div class="control-group" ng-class="{error: myForm.name.$invalid}">
                            <label>Type</label>

                            <select ng-model="vehicle.type" ng-options="type.id as type.name for type in vehicleTypes"></select><br>
                            <label>Name</label>
                            <input type="text" name="name" ng-maxlength="50" ng-model="vehicle.name" required>
                            <span ng-show="myForm.name.$error.required" class="help-inline">
                                Required</span>
                            <span ng-show="myForm.name.$error.maxlength" class="help-inline">
                                Too long!</span>

                        </div>
                        <button ng-click="vehicle.selection = 0" type="button" class="btn btn-default">
                            Cancel
                        </button>

                        <button ng-click="newVehicle(vehicle.name, vehicle.type)" ng-disabled="myForm.$invalid"
                                class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div class="animate-switch" ng-switch-when="2">           
                    <form name="changeVehicleForm">
                        <div style="text-align:center;">
                            {{path.message}}<br>
                            <button ng-click="setPathDirection('up')" ng-disabled="path.up"
                                    class="btn btn-primary"><img src="images/arrow/up.png"  /></button>
                            <br>
                            <button ng-click="setPathDirection('left')" ng-disabled="path.left"
                                    class="btn btn-primary"><img src="images/arrow/left.png"  /></button>
                            <button ng-click="setPathDirection('back')" ng-disabled="path.back"
                                    class="btn btn-primary">BACK</button>
                            <button ng-click="setPathDirection('right')" ng-disabled="path.right"
                                    class="btn btn-primary"><img src="images/arrow/right.png"  /></button>
                            <br>
                            <button ng-click="setPathDirection('down')" ng-disabled="path.down"
                                    class="btn btn-primary"><img src="images/arrow/down.png"  /></button>
                            <br>
                        </div>
                        <div class="control-group" ng-hide="changeVehicleForm.name.$error.required" ng-class="{error: changeVehicleForm.name.$invalid}">
                            <label>Path to </label>
                            <input type="text" name="name" readonly ng-model="stops.name" style="border:0" required>
                            <span ng-show="changeVehicleForm.name.$error.required" class="help-inline">
                                Required</span>
                            <button ng-click="setPath()" ng-disabled="changeVehicleForm.$invalid"
                                    class="btn btn-primary">Save</button>
                        </div>
                        <hr>
                        <button ng-click="cancelPath()" type="button" class="btn btn-default">
                            Cancel
                        </button>

                        <button ng-click="sellVehicle()" 
                                class="btn btn-warning">Sell</button>
                    </form>
                </div>
                <div class="animate-switch" ng-switch-default>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>path time</th>
                                <th>cargo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(id,userBus) in userBuses">
                                <td>{{userBus.name}}</td>

                                <td ng-if="userBus.p_size > 0">{{userBus.p_size * userBus.speed / 1000}}s</td>
                                <td ng-if="userBus.p_size == 0">DEPO</td>
                                <td>{{userBus.cargo}}</td>
                                <td>
                                    <a href="" ng-click="newPath(userBus.vehicle_id, userBus.type)">Settings</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-body">
                        <!-- Button trigger modal -->
                        <button ng-click="vehicle.selection = 1" type="button" class="btn btn-primary">
                            New vehicle
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Top 10 cities</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>People</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(id,city) in rank | orderByPriority | reverse">              
                        <td>{{id + 1}}.</td>
                        <td>{{city.name}} ({{city.xy}})</td>
                        <td>{{city.$priority}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div style="background-color: black;width: 806px;padding: 3px 10px 3px 10px">
        <a href="" ng-click="goToCity()">Go to my city</a> | 
        <a href="" ng-hide="showCityMap" ng-click="showCityMap = true">Show global map</a>  
        <a href="" ng-show="showCityMap" ng-click="showCityMap = false">Hide global map</a> | Zoom + - 
    </div>
    <canvas id="cityCanvas" ng-show="showCityMap" ng-mousemove="dragdropcity($event)" 
            ng-mousedown="dragmousedowncity($event)" ng-mouseup="mouseUPcity($event)" 
            width="400" height="300" style="background-color: #6C843B;cursor:pointer;border: 3px solid black;">
        <div style="margin-top:140px;text-align:center;">Your browser does not support HTML 5.</div>
    </canvas>
    <canvas id="mainCanvas"  ng-mousemove="dragdrop($event)" 
            ng-mousedown="dragmousedown($event)" ng-mouseup="mouseUP($event)" 
            width="800" height="600" style="cursor:pointer;border: 3px solid black;background-color:#6C843B;">
        <div style="margin-top:140px;text-align:center;">Your browser does not support HTML 5.</div>
    </canvas>  

    <footer>
        <p>&copy; TTDMMO 2014 v<span app-version></span></p>
    </footer>
</div>