<!DOCTYPE html>
<html>
    <head>
        <style>   
            #maincanvas{border:3px solid #DDD;}
            .menuImg {width: 30px;height: 30px;}
        </style>
        <script src='https://cdn.firebase.com/v0/firebase.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>

        <!--angular-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
        <script src="js/controllers.js"></script>
        <!--angular-->

        <link rel="stylesheet" media="screen" href="superfish-master/src/css/superfish.css">
        <link rel="stylesheet" media="screen" href="superfish-master/src/css/superfish-navbar.css">

        <script src="superfish-master/src/js/hoverIntent.js"></script>
        <script src="superfish-master/src/js/superfish.js"></script>
        <script>

            jQuery(document).ready(function() {
                jQuery('ul.sf-menu').superfish({
                    pathClass: 'current'
                });


                $('.menuImg').click(function() {

                    var btn = $(this);


                    demo.objToInsert = btn.data('obj-type');
                    // this line just for testing
                    console.debug(btn.data('obj-type'));
                    /* switch (btn.data('obj-type')) {
                     case 'A' :
                     demo.objToInsert = jQuery.data(div, "blah");
                     break;
                     }*/
                });

            });

        </script>
    </head>
    <body>        
        <script src="./js/sheetengine.js"></script>     
        <script src='./js/Bus.js'></script>
        <script src='./js/FirebaseMap.js'></script>
        <script src="./js/canvas.js"></script>


        <div id="obal" style="width:800px;margin:0 auto;">
            <ul id="sample-menu-4" class="sf-menu sf-navbar">
                <li class="current">
                    <a href="#">Roads</a>
                    <ul>
                        <li><img src="images/field/imgRoad.jpg" class="menuImg" data-obj-type="A" /></li>
                        <li><img src="images/field/imgRoad2.jpg" class="menuImg" data-obj-type="A2" /></li>
                        <li><img src="images/field/imgCross.jpg" class="menuImg" data-obj-type="A3" /></li>
                        <li><img src="images/field/imgDepo.jpg" class="menuImg" data-obj-type="Q" /></li>
                        <li><img src="images/field/imgZas.jpg" class="menuImg" data-obj-type="W" /></li>
                        <li><img src="images/field/imgGrass.jpg" class="menuImg" data-obj-type="B" /></li>
                    </ul>
                </li>
                <li >
                    <a href="#">menu item</a>
                    <ul>
                        <li>
                            <a href="#">subitem 2a</a>
                            <ul>
                                <li><a href="#">menu item</a></li>
                                <li><a href="#aba">menu item</a></li>
                                <li><a href="#abb">menu item</a></li>
                                <li><a href="#abc">menu item</a></li>
                                <li><a href="#abd">menu item</a></li>
                            </ul>
                        </li>
                        <li class="current">
                            <a href="#">path to current</a>
                            <ul>
                                <li><a href="#">menu item</a></li>
                                <li><a href="#aba">menu item</a></li>
                                <li><a href="#abb">menu item</a></li>
                                <li class="current"><a href="#abc">current page</a></li>
                                <li><a href="#abd">menu item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">subitem 2c</a>
                            <ul>
                                <li><a href="#">menu item</a></li>
                                <li><a href="#aba">menu item</a></li>
                                <li><a href="#abb">menu item</a></li>
                                <li><a href="#abc">menu item</a></li>
                                <li><a href="#abd">menu item</a></li>
                            </ul>
                        </li>
                        <li><a href="#">subitem 2d</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">menu item</a>
                    <ul>
                        <li><a href="#">if no subitems, duplicate parent item href and use this as descriptive label</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">menu item</a>
                    <ul>
                        <li><a href="#">subitem 4a</a></li>
                        <li><a href="#">subitem 4b</a></li>
                        <li><a href="#">subitem 4c</a></li>
                        <li><a href="#">subitem 4d</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">menu item</a>
                    <ul>
                        <li><a href="#">subitem 5a</a></li>
                        <li><a href="#">subitem 5b</a></li>
                        <li><a href="#">subitem 5c</a></li>
                        <li><a href="#">subitem 5d</a></li>
                    </ul>
                </li>
            </ul>

            <!--angular-->
            <div ng-app="userApp" ng-controller="userListCtrl">
                <h4>{{authUser.name}} ({{authUser.money}})</h4>
                <ul>
                    <li ng-repeat="user in users">
                        <span ng-click="changeFunction(user.user_id)">{{user.name}}</span>
                    </li>
                </ul>
            </div>
            <!--angular-->

            <canvas id="mainCanvas" width="800" height="600" style="cursor:crosshair;border: 3px solid black;">
                <div style="margin-top:140px;text-align:center;">Your browser does not support HTML 5.</div>
            </canvas>
        </div>
    </body>
</html>