<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Zdenek Lastuvka">
        <title>MMOTTD</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <link href="css/app.css" rel="stylesheet">
        <link href="css/animation.css" rel="stylesheet">
        <link rel="stylesheet" href="jscolor/farbtastic.css" type="text/css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body ng-cloak-auth class="hide" ng-controller="myUnlogCntrl" >

        <div  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MMOTTD</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="'/home' | isActive" ng-show-auth="logout,error"><a href="#/home">Home</a></li>
                        <li ng-class="'/map' | isActive" ng-show-auth="login" ><a href="#/map">Map</a></li>
                        <li ng-class="'/contact' | isActive" ng-show-auth="logout,error"><a href="#/contact">Contact</a></li>
                    </ul>
                    <form ng-show-auth="logout,error" class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Email" ng-model="email" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" ng-model="pass" class="form-control" required>
                        </div>
                        <button type="submit" ng-click="login()" class="btn btn-success">Sign in</button>
                        <a class="btn btn-danger" href="#/register" role="button">Create Account &raquo;</a>
                    </form>
                    <ul ng-show-auth="login" ng-controller="myLogCntrl" class="nav ng-cloak navbar-nav pull-right"> 
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{auth.user.email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/account">Profile</a></li>
                                <li><a href="" ng-click="logout()">Log out</a></li>
                            </ul></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div ng-view></div>

        <!--angular-->

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="js/bootbox.min.js"></script>
        <script type="text/javascript" src="jscolor/farbtastic.js"></script>

        <!-- Bootstrap core JavaScript
          ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/firebase-util/0.1.0/firebase-util.min.js"></script>
        <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

        <script src="./js/constants.js"></script>  

        <script src="./js/sheetengine.js"></script>    
        <script src='./js/Building.js'></script>
        <script src='./js/Vehicle.js'></script>
        <script src='./js/FirebaseMap.js'></script> 
        <script src='./js/CityMap.js'></script>
        <script src="./js/game.js"></script>

        <script src="js/app.js"></script>
        <script src="js/config.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/routes.js"></script>
        <script src="js/services.js"></script>
        <script src="js/service.login.js"></script>
        <script src="js/service.firebase.js"></script>
        <script src="js/module.waitForAuth.js"></script>
        <script src="js/module.routeSecurity.js"></script>
    </body>
</html>

